{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'Doorway/CSS/styles.css' %}">
</head>
<body>
    <br>
    <a href="{% url 'signup' %}">Create account</a>
    <a  href="{% url 'index' %}">Home</a>
    <a  href="{% url 'login' %}">Login</a>
    
  {% block index_page_content %}
  {% endblock index_page_content %}
  
  {% block login_page_content %}
  {% endblock login_page_content %}

  {% block signup_page_content %}
  {% endblock signup_page_content %}

  {% block account_verify_block %}
  {% endblock account_verify_block %}
  
</body>
</html>