{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	<title></title>
</head>
<body>

 <!--    Alert Messages code. Change CSS for it or add bootstrap dismissible alerts        -->
  {% if messages %}
    {% for message in messages %}
    <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-blue-500">
      <span class="text-xl inline-block mr-5 align-middle">
        <i class="fas fa-bell"></i>
      </span>
      <span class="inline-block align-middle mr-8">
        <b class="capitalize">blue!</b> {{ message }}
      </span>
      <button class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none" onclick="closeAlert(event)">
        <span>×</span>
    
      </button>
    </div>
    {% endfor %}
  {% endif %}
  <!--  End of the code -->

  {% block index_page_content %}
  {% endblock index_page_content %}

  {% block login_page_content %}
  {% endblock login_page_content %}

  {% block signup_page_content %}
  {% endblock signup_page_content %}

  <script>
    function closeAlert(event){
      let element = event.target;
      while(element.nodeName !== "BUTTON"){
        element = element.parentNode;
      }
      element.parentNode.parentNode.removeChild(element.parentNode);
    }
  </script>

</body>
</html>
