<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <br>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="{% url 'signup' %}">Create account</a>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="{% url 'index' %}">Home</a>
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" href="{% url 'login' %}">Login</a>
    
  {% block index_page_content %}
  {% endblock index_page_content %}
  
  {% block login_page_content %}
  {% endblock login_page_content %}

  {% block signup_page_content %}
  {% endblock signup_page_content %}

  {% block account_verify_block %}
  {% endblock account_verify_block %}
  
</body>
</html>