{% extends 'Doorway/base_layout.html' %}

{% block signup_page_content %}
<h1> This is the signup page </h1>

<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="firstName" placeholder="First Name" />
    <input type="text" name="lastName" placeholder="Last Name" />
    <input type="email" name="email" placeholder="Email" />
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="rePassword" placeholder="Confirm Password" />
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit" value="submit">                
</form>

{% endblock signup_page_content %}