{% extends 'Intendance/base_layout.html' %}
{% load static %}
{% block acc_index_page_content %}
<style>
  .clickable-mine:hover {
    cursor: pointer;
    background-color:#E0ECF0;
}
</style>
<br>
<div class="row px-5">
  <div class="col-8">
<div class="pt-5 pb-5 bg-light inner-header container rounded border">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1 class="mt-0 mb-3">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
              <div class="breadcrumbs">
                  <p class="mb-0">{{ request.user.profile.bio }}</p>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="row" style="margin-top:20px">

<div class="container" >
  <hr>
    <a href="{% url 'create-project' %}" class="btn btn-primary btn-lg btn-block" style="width:inherit;">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-terminal-plus" viewBox="0 0 16 16" style="margin-right:20px">
        <path d="M2 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v4a.5.5 0 0 1-1 0V4a1 1 0 0 0-1-1H2Z"/>
        <path d="M3.146 5.146a.5.5 0 0 1 .708 0L5.177 6.47a.75.75 0 0 1 0 1.06L3.854 8.854a.5.5 0 1 1-.708-.708L4.293 7 3.146 5.854a.5.5 0 0 1 0-.708ZM5.5 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5ZM16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
      </svg>
      Create Project
    </a>
    
    <hr>
  
    <table class="table table-striped bg-light" id="myTable">
      <thead>
        <tr>
          <th scope="col">Name of the project
            <button class="btn btn-light" onclick="sortTableAZ(0)" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
              <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
            </svg>
          </button>
          <button class="btn btn-light" onclick="sortTableZA(0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
              <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
            </svg>
          </button>
          </th>
          <th scope="col">Project Owner
            <button onclick="sortTableAZ(1)" class="btn btn-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
              </svg>
            </button>
            <button onclick="sortTableZA(1)" class="btn btn-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
              </svg>
            </button>
          </th>
          <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        {% for prodata in projects_data %}
          <tr class="clickable-mine" onclick="window.location='{% url 'project-tasks' prodata.project_id %}'">
            <td><p><strong> {{ prodata.name }}</strong></p></td>
            <td>{{ prodata.created_by }}</td>
            <td>{{ prodata.created_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

</div>
</div>

<div class="col-4">

<div class="container-sm">
<div class="card rounded border border-dark">
    <h5 class="card-header bg-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
      </svg>
      <strong>Notifications</strong></h5>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Invitations
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="max-height:450px;overflow-y:auto;">
            {% for invite in invites %}
              <h6 class="card-title"><b>{{ invite.project.name }}</b></h6>
              <p class="text-secondary my-0">{{ invite.created_date }}</p>
              <p class="card-text my-0">Project created by {{ invite.project.created_by }}</p>
              {% if invite.status == 'sent' %}
              <div style="display:flex;justify-content:left;">
                <a class="btn btn-success m-2" href="{% url 'invite-response' invite.project.project_id 'accepted' %}">Accept</a>
                <a class="btn btn-danger m-2" href="{% url 'invite-response' invite.project.project_id 'rejected' %}">Reject</a>
              </div>
              {% elif invite.status == 'accepted'%}
              <p class="text-success">You have accepted the invite.</p>
              {% elif invite.status == 'rejected'%}
              <p class="text-danger">You have rejected the invite.</p>
              {% else %}
              <p class="text-warning">Error with invite.</p>
              {% endif %}
              <hr>
              {% endfor %}
              
            
          </div>
        </div>
      </div>
      
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Recent Activities
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="max-height:450px;overflow-y:auto;">
            {% for notification in notifications %}
              <h6 class="card-title"><b>{{ notification.title }}</b></h6>
              <p class="text-secondary my-0">{{ notification.created_date }}</p>
              <p class="card-text my-0">{{ notification.description }}</p>
              <hr>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>


    
    
    
  </div>
</div> 


</div>
</div>
</div>

<script src="{% static 'Intendance/Scripts/SortTable.js' %}"></script>


{% endblock acc_index_page_content %}