{% extends 'Intendance/base_layout.html' %}

{% block acc_index_page_content %}



<div class="container" style="margin:50px">
    <a href="{% url 'create-project' %}" class="btn btn-primary btn-lg btn-block" style="width:inherit;">Create Project</a>
    <table class="table table-striped bg-light">
      <thead>
        <tr>
          <th scope="col">Name of the project</th>
          <th scope="col">Project Owner</th>
          <th scope="col">Created Date</th>
        </tr>
      </thead>
      <tbody>
        {% for prodata in projects_data %}
          <tr>
            <td><a href='{% url 'project-tasks' prodata.project_id %}'> {{ prodata.name }}</a></td>
            <td>{{ prodata.created_by }}</td>
            <td>{{ prodata.created_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
</div>



{% comment %} <div class="container-sm">
<div class="card">
    <h5 class="card-header">Invites</h5>
    
    <div class="card-body">
      <h5 class="card-title">Group Invitation</h5>
      <p class="card-text">MR X has invited you to join Project Y</p>
      <a href="#" class="btn btn-success">Accept</a>
      <a href="#" class="btn btn-danger">Reject</a>
    </div>
    
  </div>
</div> {% endcomment %}
{% endblock acc_index_page_content %}