{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'Intendance/CSS/profile_update.css' %}">
</head>
<body>
    <br>
    <a href="{% url 'acc-page' %}">Home</a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout' %}">Logout</a>
    <h1>Hello, {{ request.user }}</h1>
    {% block acc_index_page_content %}
    {% endblock acc_index_page_content %}

  {% block profile %}
  {% endblock profile %}

  
</body>
</html>