{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Intendance/CSS/profile_update.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <title>Board Em</title>
</head>
<body id="top" style="background:#eee">
    
    {% include 'Intendance/account_navbar.html' %}
    {% include 'Intendance/alert_message.html' %}
    
    {% block acc_index_page_content %}
    {% endblock acc_index_page_content %}

    {% block profile %}
    {% endblock profile %}

    {% block create_project_content %}
    {% endblock create_project_content %}

    {% block project_task_content %}
    {% endblock project_task_content %}

    {% block CRUD_task_content %}
    {% endblock CRUD_task_content %}

    {% block delete_task_confirmation %}
    {% endblock delete_task_confirmation %}

    {% block change_password_form %}
    {% endblock change_password_form %}

    {% block delete_project_content %}
    {% endblock delete_project_content %}

    {% block search_user_list %}
    {% endblock search_user_list %}

    {% block searched_profile %}
    {% endblock searched_profile %}

    {% block update_project_settings %}
    {% endblock update_project_settings %}

    {% block leave_project_user %}
    {% endblock leave_project_user %}

    {% block compose_email %}
    {% endblock compose_email %}

    {% block discussion_board %}
    {% endblock discussion_board %}

    {% block delete_account_form %}
    {% endblock delete_account_form %}

    <a href="#top" style="position:fixed;
    bottom:20px;
    right:10px;
    border-radius:40px;
    box-shadow: 2px 2px 3px #999;">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="{% static 'Intendance/Scripts/TextCounter.js' %}"></script>
    <script>
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>
</html>