{% extends 'Intendance/base_layout.html' %}

{% block profile %}
    <h1> Profile Pafe </h1>
    <h3>Username : {{ user.username }} </h3>
    <h3>Email : {{ user.email }}</h3>
    <h3>Last Login : {{ user.last_login }}</h3>
    <h3>Date Joined : {{ user.date_joined }}
    <img src="{{ user.profile.image.url }}" width="500px" height="500px"> 
    
    <br><h1>For Update</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form.as_p }}
        {{ p_form.as_p }}
        <input type="submit" value="Update" />
    </form>

{% endblock profile %}