{% extends 'Intendance/base_layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block profile %}
    <h1> Profile Pag e </h1>
    <h3>Username : {{ user.username }} </h3>
    <h3>Email : {{ user.email }}</h3>
    <h3>Last Login : {{ user.last_login }}</h3>
    <h3>Date Joined : {{ user.date_joined }}
    <img src="{{ user.profile.image.url }}" width="500px" height="500px"> 
    
    <br><h1>For Update</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h5> First Name: </h5>
        {% render_field u_form.first_name class="input_trial trial_class_css" placeholder="Hello" %}
        <h5> Last Name: </h5>
        {% render_field u_form.last_name %}
        <h5> Bio: </h5>
        {% render_field p_form.bio %}
        <h5> Company: </h5>
        {% render_field p_form.company %}
        <h5> City: </h5>
        {% render_field p_form.city %}
        <h5> Website Link: </h5>
        {% render_field p_form.website_link %}
        <h5> Github Link: </h5>
        {% render_field p_form.github_link %}
        <h5> Profile Picture: </h5>
        {% render_field p_form.image %}
        <h5> Date of Birth: </h5>
        {% render_field p_form.date_of_birth %}

        <input type="submit" value="Update Profile" />
    </form>

{% endblock profile %}