{% extends 'Intendance/base_layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block update_project_settings %}
<br><br>
<div class="container">
    <div class="tab-pane active" id="profile">
      <h3>YOUR PROJECT SETTINGS</h3>
      <h5 class="mb-0 mt-5">Project ID:</h5>
        <p>{{ project.project_id }}</p>
      <hr>
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
          <label for="fullName">Project Name</label>
          {% render_field form.name class="form-control" placeholder="Name" %}
          <small id="fullNameHelp" class="form-text text-muted">Your name may appear around here where you are mentioned. You can change or remove it at any time.</small>
        </div>
        <div class="form-group">
          <label for="bio">Description</label>
          {% render_field form.description class="form-control" placeholder="Description" id="countTextArea" %}
          <p id="charCount"></p>
        </div>
        <div class="form-group">
          <label for="url">URL</label>
          {% render_field form.url class="form-control" placeholder="URL" %}
        </div>

        <br>
        <div class="form-group" style="height:150px;overflow-y: scroll;">
          <label for="exampleFormControlInput1">Add or Remove Group Members</label>
            <input type="text" id="keyword" class="form-control" style="display:inline; width:300px; margin-left:35px;margin-top:5px;" placeholder="Search User">
            <div class="userslist">
            <ul style="list-style-type: none;">
            
              
            {% for member in all_users %}
            {% if member != request.user %}
            <li>
              <div class="form-check form-switch">
            <label class="form-check-label">  
            <input class="form-check-input" type="checkbox" value="{{ member.username }}" name="{{ member.username }}" 
              {% if member in project.group_members.all %} checked {% endif %}
              >
              {{ member.username }}</label>
            </div>
          </li>
            {% endif %}
          {% endfor %}
                
              
            </ul>
          </div>
        </div>
          <div class="form-group">
            <label>Start Date</label>
            {% render_field form.start_date class="form-control" type="date" %}
          </div>
          
        <div class="form-group">
          <label for="location">Duration</label>
          <div class="form-group small text-muted">
            In Weeks
          </div>
          {% render_field form.duration class="form-control" %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="width:500px">Update Project Settings</button>

      </form>
      <br><br>

    </div>
</div>


<script>
  (function($){
$("#keyword").on('keyup', function(e) {
  var $this = $(this);
  var exp = new RegExp($this.val(), 'i');
  $(".userslist li label").each(function() {
    var $self = $(this);
    if(!exp.test($self.text())) {
      $self.parent().parent().hide();
    } else {
      $self.parent().parent().show();
    }
  });
});
})(jQuery);
</script>
{% endblock update_project_settings %}