{% extends 'Intendance/base_layout.html' %}
{% load static %}

{% block project_task_content %}

<div class="container">
  
  {% include 'Intendance/project_page_options.html' %}
  

  <main class="container">
    <div class="row">
    <div class="col">
    <div class="bg-light p-5 rounded border border-dark">
      <h1>{{ project_data.name }}</h1>
      
      <dl class="row">
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">{{ project_data.description }}</dd>
      
        
      
        <dt class="col-sm-3">Created Date</dt>
        <dd class="col-sm-9">{{ project_data.created_date }}</dd>
      
        <dt class="col-sm-3 text-truncate">Project Owner</dt>
        <dd class="col-sm-9">@{{ project_data.created_by }}</dd>

        <dt class="col-sm-3 text-truncate">Project ID</dt>
        <dd class="col-sm-9">{{ project_data.project_id }}</dd>

        <dt class="col-sm-3 text-truncate">Start Date</dt>
        <dd class="col-sm-9">{{ project_data.start_date }}</dd>

        <dt class="col-sm-3 text-truncate">Duration</dt>
        <dd class="col-sm-9">{{ project_data.duration }} weeks</dd>

        <dt class="col-sm-3 text-truncate">End Date</dt>
        <dd class="col-sm-9">{{ project_end_date }}</dd>

        <dt class="col-sm-3 text-truncate">Settings Last Modified</dt>
        <dd class="col-sm-9">{{ project_data.modified_date }}</dd>
      
        

      </dl>
      <a class="link-primary" href="{{ project_data.url }}">Project Link &raquo;</a>
    </div>
  </div>

  

  <div class="col-sm-3 ">
    <div class="list-group w-auto rounded border " style="overflow-y:scroll;height:400px;">

      {% for member in project_data.group_members.all  %}
      <a href="{% url 'searched-profile' member.username %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{{ member.profile.image.url }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ member.first_name }} {% if project_data.created_by == member %}<span class="badge rounded-pill bg-secondary">Project Owner</span>{% endif %}</h6>
            <p class="mb-0 opacity-75">@ {{ member.username }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
      
    </div>
  </div>
    </div>
  </main>
    
  
  <br><br>
  
    <div class="row bg-light rounded border border-secondary" style="overflow-y: scroll;height: 600px;">
      <div style="display:flex;justify-content:center;align-items:center">
        <a style="width:600px;margin-top:15px" class="btn btn-secondary" href="{% url 'create-task' project_data.project_id %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg> Add Task
          </a>
        </div>
        <div class="col-sm">
            <h3 class="text-center p-2"><strong>To-do</strong></h3>
            {% for tskdt in task_data %}
            {% if tskdt.task_status == 'todo' %}
            <div class="card" style="width: 18rem;margin-top:10px;background:#EBEDEA">
                <div class="card-body">
                  <h5 class="card-title">{{ tskdt.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Created By - {{ tskdt.created_by }}</h6>
                  <p class="card-text">{{ tskdt.description }}</p>
                  {% if tskdt.created_by == request.user or project_data.created_by == request.user %}
                  <a href="{% url 'update-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-info">Edit</a>
                  <a href="{% url 'delete-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-danger">Delete</a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
              
        </div>
        <div class="col-sm">
            <h3 class="text-center p-2"><strong>In Progress</strong></h3>
            {% for tskdt in task_data %}
            {% if tskdt.task_status == 'inprogress' %}
            <div class="card" style="width: 18rem;margin-top:10px;background:#EBEDEA">
                <div class="card-body">
                  <h5 class="card-title">{{ tskdt.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Created By - {{ tskdt.created_by }}</h6>
                  <p class="card-text">{{ tskdt.description }}</p>
                  {% if tskdt.created_by == request.user or project_data.created_by == request.user %}
                  <a href="{% url 'update-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-info">Edit</a>
                  <a href="{% url 'delete-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-danger">Delete</a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
              
        </div>
        <div class="col-sm">
            <h3 class="text-center p-2"><strong>Testing</strong></h3>
            {% for tskdt in task_data %}
            {% if tskdt.task_status == 'testing' %}
            <div class="card" style="width: 18rem;margin-top:10px;background:#EBEDEA">
                <div class="card-body">
                  <h5 class="card-title">{{ tskdt.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Created By - {{ tskdt.created_by }}</h6>
                  <p class="card-text">{{ tskdt.description }}</p>
                  {% if tskdt.created_by == request.user or project_data.created_by == request.user %}
                  <a href="{% url 'update-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-info">Edit</a>
                  <a href="{% url 'delete-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-danger">Delete</a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
          </div>
          <div class="col-sm">
            <h3 class="text-center p-2"><strong>Completed</strong></h3>
            {% for tskdt in task_data %}
            {% if tskdt.task_status == 'completed' %}
            <div class="card" style="width: 18rem;margin-top:10px;background:#EBEDEA">
                <div class="card-body">
                  <h5 class="card-title">{{ tskdt.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Created By - {{ tskdt.created_by }}</h6>
                  <p class="card-text">{{ tskdt.description }}</p>
                  {% if tskdt.created_by == request.user or project_data.created_by == request.user %}
                  <a href="{% url 'update-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-info">Edit</a>
                  <a href="{% url 'delete-task' tskdt.task_id %}" style="text-decoration:none" class="card-link link-danger">Delete</a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
          </div>
        
      </div>
    </div>
<br><br>

{% endblock project_task_content %}