{% extends 'Intendance/base_layout.html' %}
{% load static %}
{% block discussion_board %}


<div class="container" style="justify-content:center;margin-top:50px">
    <div class="container my-5 bg-light rounded" style="width:1000px">
        <h2> Discussion Board for {{ project.name }} </h2>
        <div class="container p-1">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="input-group">
                    <textarea class="form-control" rows="5" name="message" id="countTextArea" required></textarea>
                    
                    <button type="submit" class="btn btn-success">Post message</button>
                </div>
                <p id="charCount"></p>
            </form>

            <div class="rounded my-3" style="height:500px;padding:15px;overflow-y:auto">
                {% for disc in discussions  %}
                {% if disc.posted_by == request.user %}
                <div style="display:flex;justify-content:right" class="my-2">
                    <div class="bg-white border border-dark rounded" style="padding:15px;width:fit-content;max-width:500px;">
                        <figure>
                            <blockquote class="blockquote" style="display:flex;justify-content:right;">
                              <p>@{{ disc.posted_by }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer" style="display:flex;justify-content:right;">
                                {{ disc.posted_on }}
                            </figcaption>
                          </figure>
                        
                        <p style="display:flex;justify-content:right;">{{ disc.message }} </p>
                    </div>
                </div>
                {% else %}
                <div style="display:flex;justify-content:left" class="my-2">
                    <div class="bg-white border border-dark rounded" style="padding:15px;width:fit-content;max-width:500px;">
                        <figure>
                            <blockquote class="blockquote">
                              <p>@{{ disc.posted_by }}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                {{ disc.posted_on }}
                            </figcaption>
                          </figure>
                        
                        <p style="display:flex;justify-content:left;">{{ disc.message }} </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            

        </div>
        
    </div>
</div>


{% endblock discussion_board %}