{% extends 'Intendance/base_layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block update_project_settings %}
<br><br>
<div class="container">
    <div class="tab-pane active" id="profile">
      <h3>YOUR PROJECT SETTINGS</h3>
      <h5 class="mb-0 mt-5">Project ID:</h5>
        <p>{{ project.project_id }}</p>
      <hr>
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <br>
        <div class="form-floating">
          {% render_field form.name class="form-control" placeholder="Name" %}
          <label for="projectname" class="text-muted">Project Name:</label>
          
        </div>
        <br>
        <div class="form-floating">
          {% render_field form.description class="form-control" placeholder="Description" id="countTextArea" style="height:200px" %}
          <label for="countTextArea" class="text-muted">Description:</label>
          <small id="charCount" class="text-muted"></small>
        </div>
        <br>
        <div class="form-floating">  
          {% render_field form.url class="form-control" placeholder="URL" %}
          <label for="url" class="text-muted">URL (should be of the form https://example.com):</label>
        </div>
        <br>
        <div class="form-group" >
          <label for="exampleFormControlInput1">Add or Remove Group Members</label>
            <input type="text" id="keyword" class="form-control" style="display:inline; width:300px; margin-left:35px;margin-top:5px;" placeholder="Search User">
            <div class="userslist" style="max-height:200px;overflow-y: scroll;">
            <ul style="list-style-type: none;">
            
              
            {% for member in all_users %}
            {% if member != request.user %}
            <li>
              <div class="form-check form-switch">
            <label class="form-check-label">  
            <input class="form-check-input" type="checkbox" value="{{ member.username }}" name="{{ member.username }}" 
              {% if member in project.group_members.all %} checked {% endif %}
              >
              {{ member.username }}</label>
            </div>
          </li>
            {% endif %}
          {% endfor %}
                
              
            </ul>
          </div>
        </div>
        <br>
          <div class="form-floating">
            
            {% render_field form.start_date class="form-control" type="date" %}
            <label for="start_date" class="text-muted">Start Date:</label>
          </div>
          <br>
        <div class="form-floating">
          {% render_field form.duration class="form-control" %}
          <label for="duration" class="text-muted">Duration (In weeks):</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block" style="width:500px">Update Project Settings</button>

      </form>
      <br><br>

    </div>
</div>


<script>
  (function($){
$("#keyword").on('keyup', function(e) {
  var $this = $(this);
  var exp = new RegExp($this.val(), 'i');
  $(".userslist li label").each(function() {
    var $self = $(this);
    if(!exp.test($self.text())) {
      $self.parent().parent().hide();
    } else {
      $self.parent().parent().show();
    }
  });
});
})(jQuery);
</script>
{% endblock update_project_settings %}