{% extends 'Intendance/base_layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block CRUD_task_content %}

<div class="container ml-5 mt-5 ">
  
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="my-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Title</div>
          </div>
          {% render_field form.title class="form-control" %}      
        </div>
    </div>

    <div class="my-3">
      <div class="input-group-prepend">
        <div class="input-group-text">Description</div>
      </div>
    {% render_field form.description class="form-control" id="countTextArea" %}
    <p id="charCount"></p>
    </div>

    <div class="my-3">
        <div class="input-group">      
        {% render_field form.task_status class="form-select  mb-3" %}
            <div class="input-group-prepend ">
                <div class="input-group-text">Task Status</div>
            </div>
        </div>
    </div>

    <div class="my-3">
      <div class="input-group">
        <div class="input-group-prepend ">
          <div class="input-group-text">Start Date</div>
      </div>      
      {% render_field form.start_date class="form-control  mb-3" type="date" min=min_date max=max_date onchange="handler(event);" %}
      <div class="input-group-prepend" style="margin-left:20px">
        <div class="input-group-text">End Date</div>
    </div>
    {% render_field form.end_date class="form-control  mb-3" type="date" min=min_date max=max_date onchange="handler(event);" %}
      </div>
  </div>

  

    <div>
    <input type="submit" value="Submit Task" class="btn btn-primary btn-lg btn-block" style="width:-webkit-fill-available" />
    </div>
</form>
</div>

<script>
  function handler(e){
  
    var stdate = document.getElementById("id_start_date");
    var edobj = document.getElementById("id_end_date");
    
      stdate.max = edobj.value;
      edobj.min = stdate.value;
  }
  
</script>

{% endblock CRUD_task_content %}